.chat-list{
    height: 100%;
    background-color: #131d24;
    overflow: hidden;
    overflow-y: auto;
    transition: .3s ease-in-out;
}
.sub-total{
    padding: 0 10px ;
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.071);
    cursor: pointer;
}
.chat{
    height: 70px;
}
.sub-total:hover{
    background-color: rgba(255, 255, 255, 0.071);
}
.chat-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.chat-username{
    font-size: 18px;
    color: white;
    height: fit-content;
}
.chat-message{
    font-size: 14px;
    color: rgb(187, 184, 184);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20dvw;
}

@media (max-width : 998px){
    .chat-message{
        width: 70dvw;
    }
}

@media (max-width : 480px){
    .chat-message{
        width: 50dvw;
    }
}


