.form-floating{
    width: 400px;
  }
  .login{
    height: 500px;
    width: 500px;
    background-color: #ffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
  }
  .container-2{
    height: 100dvh;
    background-color: #202c33;
  }
  .login-form{
    
    margin-top: 20px;
  }
  .login-submit{
    margin-top: 60px;
    height: 50px;
    width: 400px;
  }
  .signup-submit{
    margin-top: 20px;
    height: 50px;
    width: 400px;
  }
  .not-user{
    margin-top: 20px;
    gap: 5px;
  }
  .signup{
    height: 420px;
    width: 500px;
    background-color: #ffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
  }
  .whatsapp-label{
    gap: 10px;
    cursor: pointer;
  }

  .whatsapp-profile-pic{
    height: 50px;
    width: 50px;
  }
  .pro-file{
    margin-top: 15px;
  }

  
@media (max-width : 648px){
  .login,.signup{
    width: 450px;
    transition: .2s ease-in-out;
  }
  .form-floating,.signup-submit,.login-submit{
    width: 350px;
    transition: .2s ease-in-out;
  }
}

@media (max-width : 480px){
  .login,.signup{
    width: 400px;
    transition: .2s ease-in-out;
  }
  .form-floating,.signup-submit,.login-submit{
    width: 300px;
    transition: .2s ease-in-out;
  }
}
