.search{
    width: 95%;
    background-color: #202c33;
    margin: 10px auto 10px auto;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
}
.search-box{
    gap: 10px;
    width: 100%;
}
.search-icon{
    height: 25px;
    width: 25px;
    color: rgb(160, 160, 160);
}
.right-icon{
    height: 25px;
    width: 20px;
    color: rgb(160, 160, 160);
}
.searchbar{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
.searchbar::placeholder{
    color: rgb(160, 160, 160);
    font-size: 14px;
}
.search-error{
    margin: 10px auto;
}

.search-user{
    padding: 0 10px;
    gap: 1rem;
    cursor: pointer;
}